In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn import linear_model
import sklearn

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('availablebikes.csv', sep=',\s+', delimiter=',')

In [3]:
df.head()

,id,StationNumber,available_bikes,available_bikes_stands,description,temp,temp_min,temp_max,humidity,Day,TimeOfDay
0,619550,115,20,10,scattered clouds,13,11,14,62,Wednesday,Afternoon
1,619609,54,15,18,scattered clouds,13,11,14,62,Wednesday,Afternoon
2,619620,98,4,36,scattered clouds,13,11,14,62,Wednesday,Afternoon
3,619293,98,4,36,scattered clouds,13,11,14,62,Wednesday,Afternoon
4,619282,54,15,18,scattered clouds,13,11,14,62,Wednesday,Afternoon

In [4]:
df=sklearn.utils.shuffle(df, random_state=0)
print(df)

             id  StationNumber  available_bikes  available_bikes_stands  \
14149    645724             37               16                      13
222086  1028341             61                5                      20
26187    667459             30               12                       8
323178  1210562             43               24                       6
259412  1094607             67               31                       8
...         ...            ...              ...                     ...
122579   843733             11                6                      24
304137  1175973             15                3                      13
152315   898322             57                8                      15
117952   836074            103               11                      29
305711  1178736             98                0                      40

             description  temp  temp_min  temp_max  humidity        Day  \
14149      broken clouds    10         9        11        93   Thursday
222086        few clouds    15        14        17        72    Tuesday
26187         few clouds     7         5         9        93     Friday
323178  scattered clouds     5         4         7        48     Monday
259412  scattered clouds     7         7         8        81   Thursday
...                  ...   ...       ...       ...       ...        ...
122579     broken clouds    10        10        10        71  Wednesday
304137         clear sky    11         9        12        76     Sunday
152315  scattered clouds     5         3         7        75     Friday
117952  scattered clouds    12        11        13        58  Wednesday
305711     broken clouds    12        12        13        66     Sunday

        TimeOfDay
14149     Morning
222086    Evening
26187       Night
323178  Afternoon
259412    Evening
...           ...
122579    Evening
304137    Morning
152315  Afternoon
117952  Afternoon
305711  Afternoon

[327657 rows x 11 columns]

In [5]:
df.head()

,id,StationNumber,available_bikes,available_bikes_stands,description,temp,temp_min,temp_max,humidity,Day,TimeOfDay
14149,645724,37,16,13,broken clouds,10,9,11,93,Thursday,Morning
222086,1028341,61,5,20,few clouds,15,14,17,72,Tuesday,Evening
26187,667459,30,12,8,few clouds,7,5,9,93,Friday,Night
323178,1210562,43,24,6,scattered clouds,5,4,7,48,Monday,Afternoon
259412,1094607,67,31,8,scattered clouds,7,7,8,81,Thursday,Evening

#### Encode Categorical Columns to be used in linear regression model

In [6]:
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder()

In [7]:
df['description']= label_encoder.fit_transform(df['description']) 
df['Day']= label_encoder.fit_transform(df['Day'])
df['TimeOfDay']= label_encoder.fit_transform(df['TimeOfDay'])

In [8]:
print(df)

             id  StationNumber  available_bikes  available_bikes_stands  \
14149    645724             37               16                      13
222086  1028341             61                5                      20
26187    667459             30               12                       8
323178  1210562             43               24                       6
259412  1094607             67               31                       8
...         ...            ...              ...                     ...
122579   843733             11                6                      24
304137  1175973             15                3                      13
152315   898322             57                8                      15
117952   836074            103               11                      29
305711  1178736             98                0                      40

        description  temp  temp_min  temp_max  humidity  Day  TimeOfDay
14149             0    10         9        11        93    4          2
222086            2    15        14        17        72    5          1
26187             2     7         5         9        93    0          3
323178            8     5         4         7        48    1          0
259412            8     7         7         8        81    4          1
...             ...   ...       ...       ...       ...  ...        ...
122579            0    10        10        10        71    6          1
304137            1    11         9        12        76    3          2
152315            8     5         3         7        75    0          0
117952            8    12        11        13        58    6          0
305711            0    12        12        13        66    3          0

[327657 rows x 11 columns]

### Train/Test Split Dataset

In [9]:
# split a dataset into train and test sets

In [10]:
# Prepare the descriptive features
print(df.head(10))
X = df[['StationNumber', 'available_bikes', 'available_bikes_stands','description', 'temp', 'temp_min','temp_max','humidity','Day','TimeOfDay']]
y = df.available_bikes

print("\nDescriptive features in X:\n", X)
print("\nTarget feature in y:\n", y)

             id  StationNumber  available_bikes  available_bikes_stands  \
14149    645724             37               16                      13
222086  1028341             61                5                      20
26187    667459             30               12                       8
323178  1210562             43               24                       6
259412  1094607             67               31                       8
90790    785658              7               13                      16
83479    772689             38               15                      25
122175   842874             62                5                      15
182465   954540             56               13                      27
242144  1063754             72                6                      25

        description  temp  temp_min  temp_max  humidity  Day  TimeOfDay
14149             0    10         9        11        93    4          2
222086            2    15        14        17        72    5          1
26187             2     7         5         9        93    0          3
323178            8     5         4         7        48    1          0
259412            8     7         7         8        81    4          1
90790             0     8         8         9        76    1          1
83479             0     9         8         9        76    1          0
122175            0    10         9        11        71    6          1
182465            0    12        11        12        82    3          2
242144            0    10         9        11        87    6          1

Descriptive features in X:
         StationNumber  available_bikes  available_bikes_stands  description  \
14149              37               16                      13            0
222086             61                5                      20            2
26187              30               12                       8            2
323178             43               24                       6            8
259412             67               31                       8            8
...               ...              ...                     ...          ...
122579             11                6                      24            0
304137             15                3                      13            1
152315             57                8                      15            8
117952            103               11                      29            8
305711             98                0                      40            0

        temp  temp_min  temp_max  humidity  Day  TimeOfDay
14149     10         9        11        93    4          2
222086    15        14        17        72    5          1
26187      7         5         9        93    0          3
323178     5         4         7        48    1          0
259412     7         7         8        81    4          1
...      ...       ...       ...       ...  ...        ...
122579    10        10        10        71    6          1
304137    11         9        12        76    3          2
152315     5         3         7        75    0          0
117952    12        11        13        58    6          0
305711    12        12        13        66    3          0

[327657 rows x 10 columns]

Target feature in y:
 14149     16
222086     5
26187     12
323178    24
259412    31
          ..
122579     6
304137     3
152315     8
117952    11
305711     0
Name: available_bikes, Length: 327657, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

print("Training data:\n", pd.concat([X_train, y_train], axis=1))
print("\nTest data:\n", pd.concat([X_test, y_test], axis=1))

(229359, 10) (98298, 10) (229359,) (98298,)
Training data:
         StationNumber  available_bikes  available_bikes_stands  description  \
26182              64                9                      31            2
8986               40               11                      10            0
223388            106               17                      23            2
239762            116                9                      21            8
275412             10               14                       2            2
...               ...              ...                     ...          ...
189098             59                3                      17            0
152891              7                4                      25            2
170014             69               12                      28            0
201778             96                2                      28            8
193029             45                4                      26            0

        temp  temp_min  temp_max  humidity  Day  TimeOfDay  available_bikes
26182      7         5         9        93    0          3                9
8986       9         9         9        93    4          3               11
223388    13        12        16        76    5          1               17
239762    13        13        14        76    6          1                9
275412     8         7         9        66    0          1               14
...      ...       ...       ...       ...  ...        ...              ...
189098    13        12        14        82    3          1                3
152891     7         6         8        65    0          0                4
170014    11         9        12        62    2          0               12
201778    16        15        17        72    1          0                2
193029    13        13        13        82    3          3                4

[229359 rows x 11 columns]

Test data:
         StationNumber  available_bikes  available_bikes_stands  description  \
64953               6                1                      19            0
271499             92                8                      32            8
306008            111               13                      27            0
66179              32               11                      19            0
313006            107               15                      25            0
...               ...              ...                     ...          ...
198197             54                1                      32            0
117772             18               27                       3            8
194419             76                5                      33            0
133823            104               12                      28            4
221900             19                5                      25            2

        temp  temp_min  temp_max  humidity  Day  TimeOfDay  available_bikes
64953      9         8         9        71    3          2                1
271499     9         8        10        76    0          0                8
306008    12        11        14        71    3          0               13
66179     10         9        11        66    3          0               11
313006     9         8         9        76    3          1               15
...      ...       ...       ...       ...  ...        ...              ...
198197    13        12        13        82    1          2                1
117772    12        10        13        62    6          0               27
194419    13        12        13        82    1          3                5
133823    11        10        11        76    4          2               12
221900    16        14        17        72    5          1                5

[98298 rows x 11 columns]

In [13]:
# fit the model
linear = linear_model.LinearRegression()
linear.fit(X_train, y_train)
acc = linear.score(X_test, y_test)

print("Coe:", linear.coef_)
print("Intercept:" , linear.intercept_)
print("Accuracy: ",acc*100)

plt.scatter

Coe: [-2.37577734e-16  1.00000000e+00 -2.23938233e-16 -1.47181198e-16
  2.12373233e-16 -5.92180845e-17 -3.22718667e-16  3.48768016e-16
  3.32636714e-17  1.34684023e-16]
Intercept: -1.3500311979441904e-13
Accuracy:  100.0

In [14]:
# # fit the model
# #model = LinearRegression(random_state=2)
# #model.fit(X_train, y_train)

# model = LinearRegression().fit(X_train, y_train)

In [15]:
X_train

,StationNumber,available_bikes,available_bikes_stands,description,temp,temp_min,temp_max,humidity,Day,TimeOfDay
26182,64,9,31,2,7,5,9,93,0,3
8986,40,11,10,0,9,9,9,93,4,3
223388,106,17,23,2,13,12,16,76,5,1
239762,116,9,21,8,13,13,14,76,6,1
275412,10,14,2,2,8,7,9,66,0,1
...,...,...,...,...,...,...,...,...,...,...
189098,59,3,17,0,13,12,14,82,3,1
152891,7,4,25,2,7,6,8,65,0,0
170014,69,12,28,0,11,9,12,62,2,0
201778,96,2,28,8,16,15,17,72,1,0
193029,45,4,26,0,13,13,13,82,3,3

In [16]:
y_train

26182      9
8986      11
223388    17
239762     9
275412    14
          ..
189098     3
152891     4
170014    12
201778     2
193029     4
Name: available_bikes, Length: 229359, dtype: int64

In [18]:
train_predictions = linear.predict(X_train)
train_predictions

array([ 9., 11., 17., ..., 12.,  2.,  4.])

In [19]:
pd.DataFrame(train_predictions, columns=['Predicted'], index=y_train.index)

        Predicted
26182         9.0
8986         11.0
223388       17.0
239762        9.0
275412       14.0
...           ...
189098        3.0
152891        4.0
170014       12.0
201778        2.0
193029        4.0

[229359 rows x 1 columns]

In [20]:
#This function is used repeatedly to compute all metrics
def printMetrics(testActualVal, predictions):
    #classification evaluation measures
    print('\n==============================================================================')
    print("MAE: ", metrics.mean_absolute_error(testActualVal, predictions))
    #print("MSE: ", metrics.mean_squared_error(testActualVal, predictions))
    print("RMSE: ", metrics.mean_squared_error(testActualVal, predictions)**0.5)
    print("R2: ", metrics.r2_score(testActualVal, predictions))

In [22]:
from sklearn import metrics

# Predicted outcome of available bikes on training set
train_predictions = linear.predict(X_train)
print("Actual vs predicted on training:\n", pd.concat([y_train, pd.DataFrame(train_predictions, columns=['Predicted'], index=y_train.index)], axis=1))
printMetrics(y_train, train_predictions)

Actual vs predicted on training:
         available_bikes  Predicted
26182                 9        9.0
8986                 11       11.0
223388               17       17.0
239762                9        9.0
275412               14       14.0
...                 ...        ...
189098                3        3.0
152891                4        4.0
170014               12       12.0
201778                2        2.0
193029                4        4.0

[229359 rows x 2 columns]

==============================================================================
MAE:  7.561703290621117e-14
RMSE:  9.581803978283395e-14
R2:  1.0

In [23]:
# Predicted price on test set
test_predictions = linear.predict(X_test)
print("Actual vs predicted on test:\n", pd.concat([y_test, pd.DataFrame(test_predictions, columns=['Predicted'], index=y_test.index)], axis=1))
printMetrics(y_test, test_predictions)

Actual vs predicted on test:
         available_bikes  Predicted
64953                 1        1.0
271499                8        8.0
306008               13       13.0
66179                11       11.0
313006               15       15.0
...                 ...        ...
198197                1        1.0
117772               27       27.0
194419                5        5.0
133823               12       12.0
221900                5        5.0

[98298 rows x 2 columns]

==============================================================================
MAE:  7.555141435524811e-14
RMSE:  9.567144941263822e-14
R2:  1.0